@import url(font.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 400;
}

::-webkit-scrollbar {
  background: white;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #DD7979;
}

nav {
  background: white;
  height: 100%;
}

@media (max-width: 800px) {
  .nav__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 380px) {
  .nav__content {
    margin-top: 20px;
  }
}

@media (max-width: 380px) {
  .nav__list li {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .nav__list {
    margin-top: 30px;
  }
}
@media (max-width: 380px) {
  .nav__list {
    flex-direction: column;
  }
}

.nav__link {
  color: #744343 !important;
  font-size: 16px;
  margin-left: 60px;
  transition: 0.4s linear;
}
.nav__link:hover {
  background: #DD7979;
  padding: 10px;
  color: white !important;
  transition: 0.4s linear;
}
@media (max-width: 991px) {
  .nav__link {
    margin-left: 30px;
  }
}
@media (max-width: 485px) {
  .nav__link {
    font-size: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 380px) {
  .nav__link {
    font-size: 16px;
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .nav__1 {
    margin-left: 0;
  }
}

.nav__btn {
  color: black;
  background: #FFF4F4;
  width: 150px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  right: 150px;
  transition: 0.4s linear;
}
.nav__btn:hover {
  color: white;
  background: #DD7979;
  border: none;
  transition: 0.4s linear;
}
@media (max-width: 1199px) {
  .nav__btn {
    right: 50px;
  }
}
@media (max-width: 991px) {
  .nav__btn {
    right: 20px;
    width: 120px;
    height: 30px;
  }
}
@media (max-width: 440px) {
  .nav__btn {
    display: none;
  }
}

.project {
  background: #FFF4F4;
  height: 100vh;
}

.project__content {
  height: 90vh;
}
.project__content h4 {
  color: #DD7979;
  font-size: 16px;
}
.project__content h1 {
  color: #744343;
  font-size: 48px;
  line-height: 58px;
  margin-top: 20px;
}
@media (max-width: 800px) {
  .project__content h1 {
    font-size: 40px;
  }
}
@media (max-width: 560px) {
  .project__content h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 365px) {
  .project__content h1 {
    font-size: 20px;
    line-height: 20px;
  }
}
.project__content p {
  color: #967272;
  font-size: 18px;
  margin-top: 20px;
  text-shadow: 5px 10px 7px #967272;
}
@media (max-width: 1080px) {
  .project__content p {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .project__content p {
    width: 450px;
    text-shadow: 5px 10px 7px #967272;
  }
}
@media (max-width: 800px) {
  .project__content p {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .project__content p {
    font-size: 15px;
    width: 450px;
  }
}
@media (max-width: 560px) {
  .project__content p {
    font-size: 15px;
    line-height: 15px;
    width: 280px;
  }
}
@media (max-width: 365px) {
  .project__content p {
    font-size: 11px;
    width: 300px;
    line-height: 20px;
  }
}

.main__btn {
  margin-top: 40px;
}
.main__btn .main__btn1 {
  color: black;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  transition: 0.4s linear;
}
@media (max-width: 560px) {
  .main__btn .main__btn1 {
    width: 120px;
    height: 40px;
  }
}
.main__btn .main__btn1:hover {
  color: white;
  background: #DD7979;
  border: none;
  transition: 0.4s linear;
}
.main__btn .main__btn2 {
  color: black;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #DD7979;
  transition: 0.4s linear;
}
@media (max-width: 560px) {
  .main__btn .main__btn2 {
    width: 120px;
    height: 40px;
  }
}
.main__btn .main__btn2:hover {
  color: white;
  background: #DD7999;
  border: none;
  transition: 0.4s linear;
}

.img__main {
  width: 25%;
  position: absolute;
  right: 0;
  top: 76px;
}
@media (max-width: 800px) {
  .img__main {
    width: 160px;
    margin-top: 60px;
  }
}
@media (max-width: 600px) {
  .img__main {
    display: none;
  }
}

.main__img2 {
  width: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
}
@media (max-width: 800px) {
  .main__img2 {
    width: 150px;
  }
}
@media (max-width: 600px) {
  .main__img2 {
    display: none;
  }
}

.blog {
  background: #DD7979;
  height: 700px;
  border-radius: 30px;
  position: relative;
}
@media (max-width: 700px) {
  .blog {
    height: 200vh;
  }
}
.blog .blog__content {
  background: white;
  width: 900px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(79, 78, 78);
  padding-top: 40px;
  margin-top: -60px;
}
@media (max-width: 991px) {
  .blog .blog__content {
    width: 800px;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  .blog .blog__content {
    width: 650px;
    padding: 30px;
  }
}
@media (max-width: 700px) {
  .blog .blog__content {
    height: 650px;
    width: 300px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.blog .block__1 {
  height: 150px;
  width: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}
@media (max-width: 991px) {
  .blog .block__1 {
    width: 200px;
  }
}
@media (max-width: 800px) {
  .blog .block__1 {
    width: 250px;
    height: 170px;
  }
}
.blog .block__1 h4 {
  font-weight: 700;
  font-size: 16px;
  color: #DD7979;
  padding-left: 15px;
  padding-top: 10px;
}
.blog .block__1 button {
  color: black;
  background: none;
  width: 110px;
  height: 30px;
  border-radius: 8px;
  border: 3px solid #DD7979;
  margin-top: 20px;
  margin-left: 12px;
  transition: 0.4s linear;
}
.blog .block__1 button:hover {
  color: white;
  background: #DD7979;
  border: none;
  transition: 0.4s linear;
}
.blog .block2 {
  margin-left: 50px;
  margin-right: 50px;
}
@media (max-width: 700px) {
  .blog .block2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.quantity {
  background: white;
  width: 900px;
  height: 250px;
  border-radius: 20px;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .quantity {
    height: 400px;
    width: 600px;
    border-radius: 60px;
  }
}
@media (max-width: 575px) {
  .quantity {
    width: 400px;
  }
}
@media (max-width: 435px) {
  .quantity {
    width: 200px;
    border-radius: 10px;
  }
}
.quantity h2 {
  color: #744343;
  font-weight: 700;
  font-size: 50px;
}
@media (max-width: 435px) {
  .quantity h2 {
    font-size: 35px;
  }
}
.quantity h4 {
  font-size: 22px;
  color: #DD7979;
}
@media (max-width: 435px) {
  .quantity h4 {
    font-size: 16px;
  }
}
.quantity .col__2 {
  margin-left: 100px;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .quantity .col__2 {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 767px) {
  .quantity .col__2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .quantity .row_1 {
    flex-direction: column !important;
  }
}

.landing .landing__content h4 {
  color: #DD7979;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 520px) {
  .landing .landing__content h4 {
    font-size: 12px;
  }
}
.landing .landing__content h1 {
  color: #744343;
  font-weight: 700;
  font-size: 48px;
}
@media (max-width: 576px) {
  .landing .landing__content h1 {
    font-size: 30px;
  }
}
@media (max-width: 520px) {
  .landing .landing__content h1 {
    font-size: 25px;
  }
}
.landing .landing__content .row {
  margin-top: 50px;
}
@media (max-width: 576px) {
  .landing .landing__content .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}
.landing .landing__content .row .col {
  border: 2px solid rgba(117, 80, 80, 0.1019607843);
  border-radius: 10px;
  margin-left: 20px;
}
@media (max-width: 576px) {
  .landing .landing__content .row .col {
    width: 50%;
    margin-top: 40px;
    margin-left: 0;
  }
}
.landing .landing__content .row .col h4 {
  font-weight: 400;
  margin-top: 10px;
}
.landing .landing__content .row .col img {
  width: 100%;
}

.features__content h4 {
  color: #DD7979;
  font-size: 16px;
  font-weight: 400;
}
.features__content h1 {
  font-size: 40px;
  color: #744343;
  font-weight: 400;
}
.features__content .row .col {
  padding: 20px !important;
}
@media (max-width: 767px) {
  .features__content .row .col {
    margin-top: 40px;
  }
}
.features__content .row .col:nth-child(1) {
  background-image: url(../img/feat-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 252px;
  border-radius: 20px;
}
.features__content .row .col:nth-child(1) h4 {
  color: #744343;
  font-size: 18px;
  font-weight: 400;
}
.features__content .row .col:nth-child(1) p {
  color: #967272;
  font-size: 16px;
  font-weight: 400;
  width: 280px;
  margin-top: 20px;
}
.features__content .row .col:nth-child(2) {
  background-image: url(../img/feat-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 252px;
  border-radius: 20px;
}
.features__content .row .col:nth-child(2) h4 {
  color: #744343;
  font-size: 18px;
  font-weight: 400;
}
.features__content .row .col:nth-child(2) p {
  color: #967272;
  font-size: 16px;
  font-weight: 400;
  width: 280px;
  margin-top: 20px;
}
.features__content .row .col:nth-child(3) {
  background-image: url(../img/feat-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 252px;
  border-radius: 20px;
}
.features__content .row .col:nth-child(3) h4 {
  color: #744343;
  font-size: 18px;
  font-weight: 400;
}
.features__content .row .col:nth-child(3) p {
  color: #967272;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  width: 300px;
}

.pages {
  background-image: url(../img/pages-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
@media (max-width: 600px) {
  .pages .row {
    padding: 20px;
  }
}
.pages .row .col {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 20px;
}

.newsletter {
  position: relative;
}
@media (max-width: 767px) {
  .newsletter {
    margin-top: 120px;
  }
}
@media (max-width: 600px) {
  .newsletter {
    padding: 50px;
  }
}
.newsletter .new__1 {
  position: absolute;
  left: 22%;
  bottom: 100px;
  z-index: -1;
}
.newsletter .new__2 {
  position: absolute;
  right: 20%;
  bottom: 0;
}
.newsletter .news__content h4 {
  font-size: 20px;
  font-weight: 400;
}
.newsletter .news__content h1 {
  font-weight: 400;
}
.newsletter form input {
  width: 600px;
  height: 60px;
  font-family: "Montserrat";
  font-size: 20px;
  border: 2px solid #FFBABA;
  border-radius: 10px;
  padding-left: 20px;
}
@media (max-width: 710px) {
  .newsletter form input {
    width: 400px;
    height: 40px;
    font-size: 18px;
  }
}
.newsletter form button {
  width: 600px;
  height: 60px;
  border-radius: 10px;
  background: #DD7979;
  color: white;
  border: 2px solid #DD7979;
}
@media (max-width: 710px) {
  .newsletter form button {
    width: 400px;
    height: 40px;
  }
}
.newsletter form p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  color: #744343;
}

footer {
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
footer .footer__content .icons__block i {
  color: white;
  font-size: 22px;
  margin: 10px;
}
footer .row {
  padding-top: 120px;
  padding-bottom: 120px;
}
footer .row .col:nth-child(1) h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}
footer .row .col:nth-child(1) h4 {
  color: #FFBABA;
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
}
footer .row .col:nth-child(1) button {
  width: 130px;
  height: 60px;
  background: #DD7979;
  border-radius: 10px;
  color: white;
  border: none;
}
footer .row .col:nth-child(2) .foot__styles {
  margin-right: 80px;
}
footer .row .col:nth-child(2) .foot__styles .styles__page img {
  width: 60px;
  margin-right: 20px;
}
footer .row .col:nth-child(2) h4 {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
footer .footer__block {
  width: 100px;
}/*# sourceMappingURL=style.css.map */